<!DOCTYPE html>
<html>
  <head>
    <title>Clerk Rails Starter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css" media="screen" charset="utf-8">
      body {
        font-family: Georgia, sans-serif;
        line-height: 2rem;
        font-size: 1.3rem;
        background-color: white;
        margin: 0;
        padding: 0;
        color: #000;
      }

      h1 {
        font-weight: normal;
        line-height: 2.8rem;
        font-size: 2.5rem;
        letter-spacing: -1px;
        color: black;
      }

      p { font-family: monospace; }

      .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 68px;
        line-height: 68px;
        font-size: 1rem;
        text-align: right;
        padding: 0 1.5rem;
      }

      .navbar a {
        display: inline-block;
        margin-right: 1.5rem;
        font-weight: bold;
        color: #CC0000;
      }

      .navbar button {
        background: #CC0000;
        box-shadow: 0px 2px 0px #FF9999;
        border: none;
        border-radius: 10px;
        color: white;
        font-family: inherit;
        font-size: 1rem;
        padding: 8px 16px;
      }

      .container {
        max-width: 960px;
        margin: 0 auto 40px;
        overflow: hidden;
      }

      .logos img {
        vertical-align: bottom;
      }

      .logos a {
        display: inline-block;
      }

      .plus {
        display: inline-block;
        font-family: Georgia, sans-serif;
        font-size: 36px;
        padding: 0 8px;
      }

      section {
        margin: 0 auto 2rem;
        padding: 1rem 0 0;
        text-align: center;
      }

      @media only screen and (max-width: 500px) {
        h1 { font-size: 2rem; }

        .version { font-size: 1.1rem; }
      }

      .welcome {
        width: 600px;
        max-width: 100%;
        height: auto;
      }
    </style>

    <%= clerk_script_tag %>
  </head>

  <body>
    <nav class="navbar">
      <% if current_user.present? %>
        <!-- Clerk UserButton -->
        <div id="user-button"></div>
      <% else %>
        <!-- Clerk Sign up and Sign in links -->
        <a href="javascript:void(0)" onclick="Clerk.openSignIn()" data-turbolinks="false">Sign in</a>
        <button onclick="Clerk.openSignUp()">Sign up</button>
      <% end %>
    </nav>
    <div class="container">
      <section>
        <% flash.each do |type, msg| %>
          <div style="color: white; background-color: red; margin: 10px; padding: 10px;">
            <%= msg.html_safe %>
          </div>
        <% end %>

        <p>Menu:
          <%= link_to 'Home', root_path %> |
          <%= link_to 'My Profile', profile_path %> |
          <%= link_to 'Accounts (external)', ENV["CLERK_ACCOUNTS_URL"], target: "_blank" %>
        </p>

        <%= yield %>

        <p style="font-size: 18px; color: #666;">
          <% if current_user.present? %>
            You are logged in! (<%= current_user %>)
          <% else %>
            You are logged out.
          <% end %>
        </p>
      </section>
    </div>
  </body>
</html>
